//-----colors
$text-color:#7a7a7a;
$nav-button:#f9735b;
$navbar-hover:#f33211;
$a-button:#ed563b;
$button-hover:#f9735b;
$span:#ed563b;
$heading-color:#232d39;
$a:#007bff;
$white:#fff;
$black:#000;
$h4:#ed563b;
$input-color:#7a7a7a;


//-----font weights
$font-weight3:300;
$font-weight6:600;
$font-weight9:900;


//-------font size
$font-size13:13px;
$font-size14:14px;
$font-size15:15px;
$font-size16:16px;
$font-size17:17px;
$font-size18:18px;
$font-size20:20px;
$font-size23:23px;
$font-size25:25px;
$font-size28:28px;
$font-size30:30px;
$font-size60:60px;
$font-size83:83px;

//------font family
$font-family:'Poppins', sans-serif;